@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: PoppinsBold;
    src: url('../fonts/Poppins-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    transition: all 0.5s;
}

.errorPage {
    margin: 1rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;

    //! Text
    .errorText {
        max-width: 30rem;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;

        h1 {
            font-size: 3.8rem;
            font-family: PoppinsBold;
            color: rgb(40, 37, 37);
        }

        p {
            font-weight: 1.8rem;
            font-size: 1.7rem;
            letter-spacing: 0.3rem;
        }

        .backbtn {
            position: relative;
        }

        .btn {
            background-color: rgb(184, 33, 58);
            color: white;
            font-family: PoppinsBold;
            padding: 1rem 2.5rem;
            border: 1px solid rgba(184, 33, 58, 0.405);
            border-radius: 0.2rem;
            margin-top: 1.2rem;
            width: auto;
            opacity: 0.9;

            //! Small hover effect ON button
            &:hover {
                cursor: pointer;
                background-color: rgb(138, 19, 39);
                color: rgb(223, 184, 184);
                opacity: 1;
            }
        }
    }

    //! Photo
    .errorPhoto {
        img {
            border: 1px solid transparent;
            border-radius: 1rem;
            max-width: 100%;
            height: auto;
        }


    }
}