@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: BoldPoppins;
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: ItalicPoppins;
  src: url("../fonts/Poppins-Italic.ttf");
}
@font-face {
  font-family: LightPoppins;
  src: url("../fonts/Poppins-Light.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

a {
  list-style: none;
  background-color: none;
  text-decoration: none;
  color: black;
}

body {
  background-image: linear-gradient(to right, rgb(150, 106, 106), rgb(218, 167, 175));
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 100vh;
}

.box-container {
  max-width: 60.25rem;
  min-height: 30.25rem;
  box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.408);
  display: flex;
  flex-flow: row wrap;
}
.box-container .adversiting {
  width: 60%;
  background-color: white;
}
.box-container .adversiting .dropdown {
  position: relative;
  display: inline-block;
}
.box-container .adversiting .dropdown:hover .drop-content {
  display: block;
}
.box-container .adversiting .dropdown .drop-content {
  display: none;
  position: absolute;
  z-index: 10000;
  background-color: #d5d0d0;
  min-width: 14rem;
  box-shadow: 0 0 20px black;
}
.box-container .adversiting .dropdown .drop-content li {
  list-style: none;
}
.box-container .adversiting .dropdown .drop-content a {
  color: rgb(54, 6, 38);
  padding: 12px 16px;
  display: block;
  font-weight: 500;
  font-family: cursive;
  font-size: 18px;
}
.box-container .adversiting .dropdown .drop-content a:hover {
  background-color: rgb(66, 65, 65);
  color: #d5d0d0;
}
.box-container .adversiting .logo {
  padding: 1rem;
  position: relative;
  z-index: 5;
}
.box-container .adversiting .logo a {
  color: brown;
  font-size: 1.25rem;
  margin-right: 5px;
}
.box-container .adversiting .logo span {
  line-height: 22px;
  font-size: 1.3rem;
  letter-spacing: 3px;
  font-family: BoldPoppins;
}
.box-container .adversiting .logoPhoto {
  min-width: 100%;
  min-height: 30.25rem;
  position: relative;
  top: -4rem;
  z-index: 1;
}
.box-container .adversiting .logoPhoto img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  min-height: 30.25rem;
}
.box-container .loginPage {
  width: 40%;
  padding: 1rem;
  text-align: center;
  background-color: rgb(132, 93, 93);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.box-container .loginPage .user-logo {
  width: 7.25rem;
  height: 7.5rem;
  background-color: #d5d0d0;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 500ms;
}
.box-container .loginPage .user-logo:hover {
  transform: scale(1.1);
}
.box-container .loginPage .user-logo a {
  color: rgb(66, 65, 65);
  font-size: 5rem;
}
.box-container .loginPage .input-container {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.box-container .loginPage .input-container .userLogin {
  max-width: 13rem;
  padding: 5px;
  border-radius: 1rem;
  background-color: #d5d0d0;
  margin-top: 8px;
}
.box-container .loginPage .input-container .userLogin i {
  margin-right: 5px;
  font-size: 15px;
  color: rgb(66, 65, 65);
}
.box-container .loginPage .input-container .userLogin .inputUser {
  background-color: transparent;
  outline: none;
  border: none;
  margin-right: 5px;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}
.box-container .loginPage .input-container .btn {
  padding: 5px 3.5rem;
  border-radius: 1.2rem;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.44);
  background-color: purple;
  color: white;
  letter-spacing: 3px;
  cursor: pointer;
  margin-top: 2rem;
  transition: all 500ms;
}
.box-container .loginPage .input-container .btn:hover {
  background-color: rgb(54, 6, 38);
}
.box-container .loginPage .input-container .checkboxs {
  margin-top: 10px;
}
.box-container .loginPage .input-container .checkboxs .checkbox {
  display: flex;
  cursor: pointer;
  position: relative;
}
.box-container .loginPage .input-container .checkboxs .checkbox:hover .checkmark {
  background-color: grey;
}
.box-container .loginPage .input-container .checkboxs .checkbox input {
  margin-right: 5px;
  position: relative;
  opacity: 0;
  cursor: pointer;
}
.box-container .loginPage .input-container .checkboxs .checkbox input:checked ~ .checkmark::after {
  display: inline-block;
}
.box-container .loginPage .input-container .checkboxs .checkbox input:checked ~ .checkmark {
  background-color: rgb(54, 6, 38);
}
.box-container .loginPage .input-container .checkboxs .checkbox .checkmark {
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: #eee;
  border-radius: 50%;
  left: 1px;
  top: 6px;
  z-index: 10;
  opacity: 1;
}
.box-container .loginPage .input-container .checkboxs .checkbox .checkmark::after {
  display: none;
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.365);
  border-radius: 50%;
  background-color: #eee;
  z-index: 1000;
  top: 3.3px;
  left: 3.7px;
}

.others .question {
  color: wheat;
  line-height: 20px;
  letter-spacing: 3px;
}
.others .question:hover {
  color: rgb(237, 196, 119);
}
.others a {
  color: rgb(54, 6, 38);
  font-family: BoldPoppins;
  letter-spacing: 2.2px;
  line-height: 22px;
}

@media screen and (max-width: 597px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .box-container {
    display: block;
  }
  .box-container .adversiting {
    width: 100%;
  }
  .box-container .loginPage {
    width: 100%;
  }
  .box-container footer .footer {
    display: block;
  }
}
@media screen and (min-width: 1140px) {
  footer {
    align-self: flex-end;
    position: relative;
    bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */