@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: BoldPoppins;
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: LightPoppins;
  src: url("../fonts/Poppins-Light.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  color: white;
}

body {
  background-image: linear-gradient(135deg, rgb(199, 44, 122), rgb(161, 76, 161), rgb(79, 3, 79));
}

a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.case {
  line-height: 22px;
  color: white;
  font-family: LightPoppins;
}

.profil {
  width: 3rem;
  max-width: 100%;
  min-height: 3rem;
  border-radius: 50%;
  background-color: rgb(189, 170, 170);
  position: relative;
  bottom: 10px;
}

.comments {
  color: #c4c1c1;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  height: auto;
  background-color: rgb(43, 2, 43);
  padding: 10px;
}
nav .date {
  margin-inline: auto;
  font-size: 1.5rem;
}
nav .logo_side {
  margin-left: 18px;
}
nav .logo_side .logo {
  display: flex;
  flex-wrap: wrap;
}
nav .logo_side .logo .logo_name {
  font-size: 1rem;
  margin-inline: 30px;
  align-self: center;
}
nav .logo_side img {
  width: 100%;
  max-width: 4rem;
  min-width: 3rem;
  min-height: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.dropwdown {
  position: relative;
  display: inline-block;
}
.dropwdown:hover .dropdown-content {
  display: block;
}
.dropwdown .dropwdown-btn .menu {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}
.dropwdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 14rem;
  background-color: darkslategray;
  z-index: 10;
  box-shadow: 0 0 20px black;
}
.dropwdown .dropdown-content li {
  padding: 0.7rem;
}
.dropwdown .dropdown-content li:hover {
  background-color: #ccc;
}
.dropwdown .dropdown-content li:hover a {
  color: black;
}

main .card-container {
  max-width: 70vw;
  margin: auto;
  box-shadow: 10px 5px 20px black;
}
main .card-container .card-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
main .card-container .card-text .first_section {
  background-image: url("../photos/france.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-position: center;
  padding: 15px 25px;
  max-width: 100%;
  min-height: 18rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .card-container .card-text .first_section .weather {
  max-width: 100%;
  display: flex;
  flex-flow: column wrap;
}
main .card-container .card-text .first_section .weather .weather_degree {
  display: block;
  margin-left: 2rem;
}
main .card-container .card-text .first_section .weather .weather_degree span {
  font-size: 6rem;
}
main .card-container .card-text .first_section .weather .weather_degree .case {
  text-align: center;
  margin-top: -15px;
}
main .card-container .card-text .first_section .weather .cases {
  max-width: 100%;
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
main .card-container .card-text .first_section .weather .cases .weather-case1 {
  display: relative;
}
main .card-container .card-text .first_section .weather .cases .weather-case1::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 3rem;
  background-color: rgb(189, 170, 170);
  display: none;
}
main .card-container .card-text .first_section .location {
  width: 30%;
  align-self: center;
  position: relative;
}
main .card-container .card-text .first_section .location p {
  color: white;
  line-height: 1.375rem;
  letter-spacing: 0.3125rem;
  font-size: 2rem;
}
main .card-container .card-text .first_section .location p::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 4px;
  background-color: white;
  border-radius: 2rem;
  bottom: -15px;
  left: 2rem;
}
main .card-container .card-text .second_section {
  max-width: 100%;
  min-height: 20rem;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 25px;
}
main .card-container .card-text .second_section .twitter_side {
  max-width: 38%;
  display: flex;
  flex-flow: column wrap;
}
main .card-container .card-text .second_section .twitter_side .twitter {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
main .card-container .card-text .second_section .twitter_side .twitter i {
  color: rgb(53, 147, 147);
  font-size: 2rem;
  position: relative;
  top: 6px;
}
main .card-container .card-text .second_section .twitter_side .twitter h3 {
  color: rgb(48, 20, 62);
  font-size: 2rem;
  margin-left: 5px;
}
main .card-container .card-text .second_section .twitter_side .twitter span {
  font-size: 1rem;
  color: #ddd;
}
main .card-container .card-text .second_section .twitter_side .commentss {
  margin-top: 1.2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
main .card-container .card-text .second_section .twitter_side .commentss .comment {
  margin-top: 15px;
}
main .card-container .card-text .second_section .twitter_side .next_sidde .next {
  margin-top: 1.8rem;
  color: rgb(103, 31, 114);
  letter-spacing: 7px;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
main .card-container .card-text .second_section .twitter_side .next_sidde .next span {
  color: rgb(219, 1, 1);
}
main .card-container .card-text .second_section .daily_weather_side {
  max-width: 62%;
  display: flex;
  flex-flow: row wrap;
  margin-inline: auto;
  gap: 5px;
}
main .card-container .card-text .second_section .daily_weather_side .box .weekday-weather .weather-photo img {
  max-width: 7.6rem;
  min-height: 8rem;
}/*# sourceMappingURL=style.css.map */