.card {
    position: relative;
    &:hover {
        .profile {
            &::after {
                height: 8rem;
            }
        }
    }
    img{
        transform: scale(1);
        transition: all 1s;
    }
    .profile {
        padding: 0;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-color: rgb(22, 19, 19);
            width: 20rem;
            height: 0;
            top: -40px;
            z-index: -1;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            transition: all 600ms;
        }

    }
    &:hover{
        .social{
            bottom:0;
        opacity: 1;        }
    }
    .social{
        width: 100%;
        background-color:rgb(22, 19, 19) ;
        position: absolute;
        margin: 0;
        padding: 0;
        left: 0;
        bottom: -50px;
        text-align: center;
        transition: all 400ms;
        opacity: 0;
        
       

    
        li{ 
             padding:10px 0 ;
            list-style: none;
            display: inline-block;
            
            a{
                padding: 10px;
                color: white;
           
            &:hover{
                background-color: white;
                color:rgb(22, 19, 19);
                transform: all 500ms;
            }
            }

        }
    }
    &:hover{
        .profil_photo{
            &:after{
              
                transition: all 1s;
            }
            

            img{
                transition: all 1s;
                transform: scale(0.7);
        
            }
        }
    }
       .profil_photo{
        position: relative;
        z-index: 0;
           background-color:black;
        &:after{
          position: absolute;
            content: "";
            width: 8.5rem;
            height: 8.5rem;
            border-radius: 50%;
            background-color: rgb(249, 246, 239);
            right: 10px;
            top: 10px;
            transition: all 1s;
            z-index: -1;
            
        }
       }
        .skills{
            .skill{
                transition: all 450ms;
              &:hover{
                background-color: black;
                color: white;
                cursor:pointer;
              }
            }
        }
} 
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  