@import './home';

//  TODO HEADER-SIDE CSS STYLES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    flex-wrap: wrap;
    text-wrap: pretty;
    transition: all 500ms;
}

.autorname {
    margin-top: 2rem;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    line-height: 24px;
    color: rgb(69, 113, 170);
}

.shadow {
    span {
        letter-spacing: 3px;
        font-weight: 500;
        color: rgb(175, 66, 84);
        background-color: rgba(69, 113, 170, 0.446);
        padding: 5px;
        border-radius: 4px;
        font-style: oblique;
    }
}

header {
    nav {
        background-color: rgb(200, 191, 231);
        min-height: 5rem;
        display: flex;
        justify-content: space-between;


        .logo {
            display: flex;
            cursor: pointer;

            img {
                width: 150px;
                height: 100px;
            }

            p {
                margin-top: 2rem;
                margin-left: 10px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 1.4rem;
                line-height: 24px;
                color: rgb(69, 113, 170);

                span {
                    letter-spacing: 3px;
                    font-weight: 500;
                    color: rgb(175, 66, 84);
                    background-color: rgba(69, 113, 170, 0.446);
                    padding: 5px;
                    border-radius: 4px;
                    font-style: oblique;
                }
            }

        }

        .navigation-bar {
            display: flex;

            li {
                margin-top: 2rem;
                margin-inline: 0.7rem;

                a {
                    text-decoration: none;
                    font-size: 1.1rem;
                    padding: 5px;
                    color: rgb(31, 79, 142);
                    border-bottom: 1px solid transparent;
                    transition: all 0.6s;
                    border-radius: 6px;
                    background-color: transparent;
                }

                .active {
                    text-decoration: underline;
                    text-decoration-color: rgb(175, 66, 84);
                }
            }
        }

        .icons {
            text-decoration: none;
            display: flex;

            a {
                text-decoration: none;
                margin-top: 2rem;
                margin-inline: 3px;
                font-size: 1.25rem;
                color: rgb(25, 146, 23);

            }

            .menu {
                display: none;
            }
        }
    }
}

//TODO HEADER-SIDE TRASNFROM-TRANSITIONS

nav {
    .star {
        transition: 600ms ease-in-out;
    }

    .logo {
        p:hover {
            span {
                background-color: rgba(175, 66, 84, 0.294);
                color: rgba(69, 113, 170, 0.946);
            }
        }
    }

    .navigation-bar {
        a:hover {
            border-bottom: 1px solid rgb(175, 66, 84);
            color: rgb(9, 34, 68);
            background-color: rgba(69, 113, 170, 0.446);
        }


        .active:hover {
            border-bottom: transparent;
        }

    }

    .icons {
        a:hover {
            color: rgb(126, 191, 34);
            transform: rotateY(180deg)
        }
    }
}

//TODO header-side media-query
@media screen and (max-width: 1012px) {
    .icons {
        margin-inline: auto;
    }

}

@media screen and (max-width: 600px) {
    * {
        font-size: 90%;
    }
}

@media screen and (max-width: 450px) {
    .icons {
        a {
            display: inline-block;
            margin-inline: 5px;
        }
    }
}